/* remove built-in margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* style for the body, affects the whole web page */

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #39a6b2;
  }

/* style for the header */
header{
  padding: 20px 35px;
  background-color: #39a6b2;
}

/* style for the header nav element */
header nav {
  float: right;
  margin: 7px  0;
}

/* style for header h1 */
header h1{
  font-weight: bold;
  font-size: 36px;
  color: #fce138;
  margin: 0;
  display: inline;
}

/* style for the header a */
header a {
  text-decoration: none;
  color: #fce138;
}

/* style for unordered list on the header */
header ul{
  color:  #39a6b2 !important;
}

/* elements of list taking only the space that they need */
header nav ul li {
  display: inline;
}

/* a elements of list taking only the space that they need */
header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}

/* style for h1 */
h1 {
  font-size: 100px;
}

/* style for h2 */
h2{
    
}


/* style for the footer */
footer {
  background: #fce138;
  width: 100%;
  padding: 40px 35px;
}

/* style for the footer h2 element */
footer h2 {
  display: inline; 
  color: #024e76;
  font-size: 30px;
  margin: 0;;
}

/* style for the footer h2 element */
footer div {
  float: right;
  line-height: 1.5;
  text-align: right;
}

/* style for the footer a element */
footer a {
  color: #024e76;
}

/* style sectiont */
section{
  padding: 60px;
}

/* Hero Style Start */
.hero {
  background-image: url("../images/hero-bg.jpg");
  height: 600px;
  background-size: cover;
  background-position: center;
  position: relative;
}
/* Hero Style End */

/* Hero-Form Style Start */
.hero-form {
  border: 3px solid #024e76;
  background-color: #fce138;
  padding: 20px;
  width: 500px;
  color: #024e76;
  position: absolute;
  bottom: 120px;
  right: 140px
}
/* Hero-Form Style End */

/* Hero-Form  h3 Style Start */
.hero-form h3 {
  font-size: 24px;
  margin: 0;
}
/* Hero-Form  h3 Style End */

/* Hero-Form  p Style Start */
.hero-form p {
  margin: 5px 0 15px 0;
}
/* Hero-Form  p Style End */

/* Hero-Form  form-input Style Start */
.form-input {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
}
/* Hero-Form form-input Style End */

/* Hero-Form label Styl;e Start */
.hero-form label {
  margin: 0 5px;
}
/* Hero-Form label End */

.hero-form button {
  color: #fce138;
  background-color: #024e76;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}
/* HERO STYLES END */